
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
h1 {
  text-align: center;
  color: slategray;
}
</style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>WELCOME TO EMPLOYEE DATABASE</h1>
     <%= image_tag "emp.jpg", width:1400, height:700 %>

  </body>
</html>
