<div class="container">
<h1>Editing Database</h1>

<%= render 'form', database: @database, class:'btn btn-secondary' %><br/>

<%= link_to 'Show', @database, class:'btn btn-secondary' %>
<%= link_to 'Back', databases_path, class:'btn btn-secondary' %>
</div>
